* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    /*para resetar los valores*/
    html {
    font-size: 62.5%;
    }
    /* para medida rem*/
body{
    background-color: #ab88ff;
}
.header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #ab88ff;
    /* border: solid red; */
    justify-content: space-between;
}
.header__section {
    align-self: center;
    margin-left: 15px;
}
.header__section--img {
    height: 60px;
}
.header__menu{
    width: 110px;
    padding-top: 12px;
    height: inherit;
    margin-right: 15px;
    /* border: solid red; */
}
.header__menu--profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu--profile p {
    font-size: 2rem;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    line-height: 2.2rem;
    letter-spacing: .12rem;
    color: white;
}
.menu__profile--image {
    height: 45px;
}
.header__menu--list {
    display: none;
    list-style: none;
    text-align: end;
}
.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu--list li a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    line-height: 2.2rem;
    letter-spacing: .12rem;
    color: white;
}

.header__menu--list a:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    
}

.main__searchBar {
    display: flex;
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'lato', sans-serif;
}
.main__searchBar--text {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: .14rem;
    margin-bottom: 15px;
    color: white;
    text-shadow: 0px 2px 3px darkgrey;
}

.main__searchbar--bar {
    /* width: calc(40%); */
    width: 40%;
    height: 30px;
    min-width: 250px;
    background-color: #ceb8ff;
    border: solid 2px white;
    border-radius: 15px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .12rem;
    color: #7e55df;
}

::placeholder {
    text-align: start;
    padding-left: 10px;
    color: #7e55df;
    opacity: .5;
}

.main__searchbar--bar:focus-visible {
    outline: unset;
    border-color: #7e55df;
    box-shadow: 0px 2px 5px #7e55df;
}